body{

    margin: 0;
    background-color: #303841;


}

p{
    color: #f0f0f0;
}

a{
    text-decoration: none;
}

#linea-ceparacion{

    text-align: center;
    height: 3px;
    width: 50%;
    background-color: #f0f0f0;

}

#header{

    display: flex;
    justify-content: space-between;
    background-color: #be3144;

}

.navbar{

    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;




}

.nav-link{

    padding: 20px;
    font-size: 25px;
    text-decoration: none;
    color: orange;

}

.parte1{

    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;


}

h1{

    font-size: 58px;
    color: #f0f0f0;
    margin: 0;
    font-family: poppins;

}

#title1{

    font-size: 27px;
    color: #be3144;
    margin: 0;
    font-family: 'Silkscreen', cursive;

}

.parte2{

    height: 100vh;
    width: 100%;
    background-color: #45567d;

}

.Ptitle{

    text-align: center;
    font-size: 50px;
    color: #f0f0f0;

}

#Ptitle1{

    padding-top: 50px;
    margin: 0 0 30px 0;

}

.prcuadro{

    height: 250px;
    width: 300px;
    margin: 0;
    padding: 0;

}

.content{


    display: flex;
    justify-content: center;
    height: 320px;
    /* flex-direction: ; */

}

#projects{


    
    align-items: center;
    display: inline-block;
    border: 1px solid black;
    margin: 10px;

}

#Tproyecto{

    
    font-size: 26px;
    display: inline;
    margin: 0;
    margin-left: auto;
    padding: 8px;
 

}

#ae{

    text-align: center;
    height: 298px;
    width: 300px;
    background-color: #303841;
    display: block;
    text-decoration: none;
    color: #f0f0f0;


}
.parte3{

    height: 100vh;
    width: 100%;

}


#Tcuentas{

    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #f0f0f0;

}

#titleC{

    font-size: 45px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    

}

.profile-link{

    font-size: 25px;
    color: orangered;

}

#linea-final{

    background-color: #be3144;
    height: 6px;
    width: 100%;
    border: 0;


}

footer{

    font-size: 20px;
    text-align: center;
    color: #f0f0f0;
    

}



